* {
	font-weight: none;
}


.body {
	font-family: Avenir Next Light, Avenir Next Cyr Light;
	  background: -moz-linear-gradient(#0072ff, #014aff, #1654ff, #022cff);
	  background: -webkit-linear-gradient(#0072ff, #014aff, #1654ff, #022cff);
	  background: -ms-linear-gradient(#0072ff, #014aff, #1654ff, #022cff);
	background: linear-gradient(#0072ff, #014aff, #1654ff, #022cff);
}




.bold {
	font-family: Avenir Next Heavy, Avenir Next Cyr Heavy;
}

.thin {
	font-family: Avenir Next Thin, Avenir Next Cyr Thin;
}

.light {
	font-family: Avenir Next Light, Avenir Next Cyr Light;
}

.medium {
	font-family: Avenir Next Medium, Avenir Next Cyr Medium;
}

.heavy {
	font-family: Avenir Next Heavy, Avenir Next Cyr Heavy;
}


.upper {
	text-transform: uppercase;
}

nav {
	
}

.nav-link {
	font-size: 125%;
}

.navbar-items {
	background: #000;
}
.navbar-items a {
	color: #fff;
}

.navbar-items a:hover {
	color: #fff;
	font-family: Avenir Next Light, Avenir Next Cyr Light;
}
header {
	height: 100vh;
	color: #fff;
}

aside, footer {
	height: 100vh;
}

.name {


  font-variant: small-caps;

}

.name-main {
	font-size: 1550%;	
	padding-top: 50px;	
	
}

.pos-relative {
	position: absolute;
		top: 300px;
}

.header-main-text {
	font-size: 	2000%;
  color: rgba(18, 122, 251, 0.5);
  font-variant: small-caps;
	z-index: 	100;
}
	
.name-main-center {
	/*padding-top: 130px;	*/

}

.pos-absolute {
		/*background-color: #fff;*/


}

.header-text-des h2 {
	font-size: 300%;
	padding-left: 13px;
}